<h1> Iframes</h1>
<% token = "eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3MiOiJpZnJhbWUiLCJhdWQiOiJxdWl6LWFyZW5hIiwiZXhwIjoxNzYxMjIxMjY3LCJpYXQiOjE3NjEyMTk0NjcsImlzcyI6InF1aXotYXJlbmEiLCJqdGkiOiI5YzM0YWU2Ni04NGEzLTRlYzYtYjc0NC01MDQzMTY4MjBiOWEiLCJuYmYiOjE3NjEyMTk0NjYsInN1YiI6IjExIiwidHlwIjoiYWNjZXNzIn0.IufSAhs_iYw6zhxgqwCKLjod8YtbYcrEt4Tw6ErTg1kdK5ToVchZ_noqDdLZnJxfelRH6y8wfCnUZoxORHyuNw" %>
<iframe referrerpolicy="origin" width="1250" height="500" src="https://dev.myquiz.zone/iframe/e4HbRb82?token=<%=token%>&platform_url=https://test-application&locale=en"></iframe>

<% token = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwYXJ0aWNpcGFudF9jb2RlIjoiRzlmcy1RbzRIYllPeUpUbiIsImlwX2FkZHJlc3MiOiIiLCJhdWQiOiJKb2tlbiIsImV4cCI6MTc2MDEwNTEyMywiaWF0IjoxNzYwMDk3OTIzLCJpc3MiOiJKb2tlbiIsImp0aSI6IjMxbWh2ZjNmZ2Q4ajg4MWQxbzAwMTh1MiIsIm5iZiI6MTc2MDA5NzkyM30.9bNJd2n9epglfnH7qS5CRj4gLr5V6cyCoEFHvSv-HjQ' %>
<!--<iframe referrerpolicy="origin" width="1250" height="500" src="https://localhost:4001/iframe/survey/LK2JAA7xG_E?token=<%#= token %>&platform_url=https://qwert-1.com&locale=uk"></iframe>-->

